<center> <img src="res/ds3000.png"> </center>

<center> <h1> Week 6 - Day 2 </h1> </center>

<center> <h2> Part 1: Data Transformation </h2></center>

## Outline
1. <a href='#1'>Data Transformation in Pandas</a>
2. <a href='#2'>map() method</a>
3. <a href='#3'>apply() method</a>

<a id="1"></a>

## 1. Data Transformation in Pandas
* Data transformation is a common task in DS projects

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Day 2_res_ave_grades.csv")

In [5]:
df

              Student       House  Potion_Ave  Charm_Ave
0    Hermione Granger  Gryffindor       100.0      100.0
1   Anthony Goldstein   Ravenclaw        89.0       87.0
2        Harry Potter  Gryffindor        88.0       90.0
3         Lisa Turpin   Ravenclaw        86.5       84.0
4      Michael Corner   Ravenclaw        85.5       86.5
5        Draco Malfoy   Slytherin        84.5       81.0
6         Susan Bones  Hufflepuff        84.0       83.5
7         Ron Weasley  Gryffindor        83.0       87.5
8       Hannah Abbott  Hufflepuff        80.5       84.5
9     Ernie Macmillan  Hufflepuff        77.5       85.0
10      Gregory Goyle   Slytherin        66.5       59.5
11     Vincent Crabbe   Slytherin        64.0       60.0

* Transform all names to lowercase:

In [6]:
df ["Student"] = df["Student"].str.lower()

In [7]:
df

              Student       House  Potion_Ave  Charm_Ave
0    hermione granger  Gryffindor       100.0      100.0
1   anthony goldstein   Ravenclaw        89.0       87.0
2        harry potter  Gryffindor        88.0       90.0
3         lisa turpin   Ravenclaw        86.5       84.0
4      michael corner   Ravenclaw        85.5       86.5
5        draco malfoy   Slytherin        84.5       81.0
6         susan bones  Hufflepuff        84.0       83.5
7         ron weasley  Gryffindor        83.0       87.5
8       hannah abbott  Hufflepuff        80.5       84.5
9     ernie macmillan  Hufflepuff        77.5       85.0
10      gregory goyle   Slytherin        66.5       59.5
11     vincent crabbe   Slytherin        64.0       60.0

In [8]:
df ["Student"] = df["Student"].str.title()

In [9]:
df

              Student       House  Potion_Ave  Charm_Ave
0    Hermione Granger  Gryffindor       100.0      100.0
1   Anthony Goldstein   Ravenclaw        89.0       87.0
2        Harry Potter  Gryffindor        88.0       90.0
3         Lisa Turpin   Ravenclaw        86.5       84.0
4      Michael Corner   Ravenclaw        85.5       86.5
5        Draco Malfoy   Slytherin        84.5       81.0
6         Susan Bones  Hufflepuff        84.0       83.5
7         Ron Weasley  Gryffindor        83.0       87.5
8       Hannah Abbott  Hufflepuff        80.5       84.5
9     Ernie Macmillan  Hufflepuff        77.5       85.0
10      Gregory Goyle   Slytherin        66.5       59.5
11     Vincent Crabbe   Slytherin        64.0       60.0

<a id="2"></a>

## 2. map() method
* Used on a Series object
* Can be used on a DataFrame column to transform the data contained in the column
* Accepts a function or dict-like object containing a mapping
* Applies or maps the function to each element of the Series object
* The function should return a value

* Let's transform Student so it includes first names only.

In [10]:
df

              Student       House  Potion_Ave  Charm_Ave
0    Hermione Granger  Gryffindor       100.0      100.0
1   Anthony Goldstein   Ravenclaw        89.0       87.0
2        Harry Potter  Gryffindor        88.0       90.0
3         Lisa Turpin   Ravenclaw        86.5       84.0
4      Michael Corner   Ravenclaw        85.5       86.5
5        Draco Malfoy   Slytherin        84.5       81.0
6         Susan Bones  Hufflepuff        84.0       83.5
7         Ron Weasley  Gryffindor        83.0       87.5
8       Hannah Abbott  Hufflepuff        80.5       84.5
9     Ernie Macmillan  Hufflepuff        77.5       85.0
10      Gregory Goyle   Slytherin        66.5       59.5
11     Vincent Crabbe   Slytherin        64.0       60.0

In [11]:
def fname_only(name):
    return name.split()[0]

In [12]:
fname_only("Harry Potter")

'Harry'

In [13]:
df["Student"] = df["Student"].map(fname_only)

In [14]:
df

     Student       House  Potion_Ave  Charm_Ave
0   Hermione  Gryffindor       100.0      100.0
1    Anthony   Ravenclaw        89.0       87.0
2      Harry  Gryffindor        88.0       90.0
3       Lisa   Ravenclaw        86.5       84.0
4    Michael   Ravenclaw        85.5       86.5
5      Draco   Slytherin        84.5       81.0
6      Susan  Hufflepuff        84.0       83.5
7        Ron  Gryffindor        83.0       87.5
8     Hannah  Hufflepuff        80.5       84.5
9      Ernie  Hufflepuff        77.5       85.0
10   Gregory   Slytherin        66.5       59.5
11   Vincent   Slytherin        64.0       60.0

<a id="3"></a>

## 3. apply() method
* Apply a function along an axis of the DataFrame.
* The function should take a DataFrame and return either a Pandas object (DataFrame or Series) or a scalar

In [15]:
df

     Student       House  Potion_Ave  Charm_Ave
0   Hermione  Gryffindor       100.0      100.0
1    Anthony   Ravenclaw        89.0       87.0
2      Harry  Gryffindor        88.0       90.0
3       Lisa   Ravenclaw        86.5       84.0
4    Michael   Ravenclaw        85.5       86.5
5      Draco   Slytherin        84.5       81.0
6      Susan  Hufflepuff        84.0       83.5
7        Ron  Gryffindor        83.0       87.5
8     Hannah  Hufflepuff        80.5       84.5
9      Ernie  Hufflepuff        77.5       85.0
10   Gregory   Slytherin        66.5       59.5
11   Vincent   Slytherin        64.0       60.0

* Let's change the grading scheme for Potion_Ave to Pass/Fail

In [16]:
def letter_grade(grade):
    if grade > 65:
        return "Pass"
    else:
        return "Fail"

In [17]:
df["Potion_Ave"] = df["Potion_Ave"].apply(letter_grade)

In [18]:
df

     Student       House Potion_Ave  Charm_Ave
0   Hermione  Gryffindor       Pass      100.0
1    Anthony   Ravenclaw       Pass       87.0
2      Harry  Gryffindor       Pass       90.0
3       Lisa   Ravenclaw       Pass       84.0
4    Michael   Ravenclaw       Pass       86.5
5      Draco   Slytherin       Pass       81.0
6      Susan  Hufflepuff       Pass       83.5
7        Ron  Gryffindor       Pass       87.5
8     Hannah  Hufflepuff       Pass       84.5
9      Ernie  Hufflepuff       Pass       85.0
10   Gregory   Slytherin       Pass       59.5
11   Vincent   Slytherin       Fail       60.0

In [19]:
df["Charm_Ave"] = df["Charm_Ave"].apply(letter_grade)

In [20]:
df

     Student       House Potion_Ave Charm_Ave
0   Hermione  Gryffindor       Pass      Pass
1    Anthony   Ravenclaw       Pass      Pass
2      Harry  Gryffindor       Pass      Pass
3       Lisa   Ravenclaw       Pass      Pass
4    Michael   Ravenclaw       Pass      Pass
5      Draco   Slytherin       Pass      Pass
6      Susan  Hufflepuff       Pass      Pass
7        Ron  Gryffindor       Pass      Pass
8     Hannah  Hufflepuff       Pass      Pass
9      Ernie  Hufflepuff       Pass      Pass
10   Gregory   Slytherin       Pass      Fail
11   Vincent   Slytherin       Fail      Fail

### 3.1. Applying a Function to the Entire DataFrame

In [22]:
df = pd.read_csv("Day 2_res_ave_grades.csv", index_col = ["House", "Student"])

In [23]:
df

                              Potion_Ave  Charm_Ave
House      Student
Gryffindor Hermione Granger        100.0      100.0
Ravenclaw  Anthony Goldstein        89.0       87.0
Gryffindor Harry Potter             88.0       90.0
Ravenclaw  Lisa Turpin              86.5       84.0
           Michael Corner           85.5       86.5
Slytherin  Draco Malfoy             84.5       81.0
Hufflepuff Susan Bones              84.0       83.5
Gryffindor Ron Weasley              83.0       87.5
Hufflepuff Hannah Abbott            80.5       84.5
           Ernie Macmillan          77.5       85.0
Slytherin  Gregory Goyle            66.5       59.5
           Vincent Crabbe           64.0       60.0

In [24]:
def deduct_points(grade):
    return grade - 5

In [25]:
df.apply(deduct_points)

                              Potion_Ave  Charm_Ave
House      Student
Gryffindor Hermione Granger         95.0       95.0
Ravenclaw  Anthony Goldstein        84.0       82.0
Gryffindor Harry Potter             83.0       85.0
Ravenclaw  Lisa Turpin              81.5       79.0
           Michael Corner           80.5       81.5
Slytherin  Draco Malfoy             79.5       76.0
Hufflepuff Susan Bones              79.0       78.5
Gryffindor Ron Weasley              78.0       82.5
Hufflepuff Hannah Abbott            75.5       79.5
           Ernie Macmillan          72.5       80.0
Slytherin  Gregory Goyle            61.5       54.5
           Vincent Crabbe           59.0       55.0

<center><img src = "https://img.buzzfeed.com/buzzfeed-static/static/2016-11/17/18/asset/buzzfeed-prod-web10/anigif_sub-buzz-12252-1479426772-2.gif?downsize=700:*&output-format=auto&output-quality=auto" /> </center>

In [26]:
df.loc["Gryffindor"].apply(deduct_points)

                  Potion_Ave  Charm_Ave
Student
Hermione Granger        95.0       95.0
Harry Potter            83.0       85.0
Ron Weasley             78.0       82.5